.navbar {
    font-family: 'Poppins', sans-serif;
}


@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(./fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 900;
    src: local('Poppins'), url(./fonts/Poppins-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 900;
    src: local('Poppins'), url(./fonts/Poppins-Black.ttf) format('truetype');
}